*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.budget-field{
    height: 100vh;
    width: 100%;
    padding-top: 5px;
    background-image: url(BUDGET3.avif);
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
}
.budget-field ul{
    height: 46px;
    width: 99.5%;
    background-color: beige;
    margin: 0px 5px;
    padding: 8px;
    border: 1px solid yellowgreen;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.budget-field ul li a{
    color: rgb(124, 124, 62);
    margin: 0px 20px;
    /* padding-top: px; */
    font-size: 21px;
    text-decoration: none;
}
.budget-field ul li a:hover{
    color: rgb(30, 30, 24);
}
.budget-work{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 300px 400px;
    padding: 30px;
    border-radius: 22px;
    gap: 12px;
    background-color: rgb(140, 177, 65);
}
.budget-work .receiver{
    display: flex;
    
    /* justify-content: center; */
    /* align-items: center; */
}
.budget-work #user-budget{
    height: 33px;
    width: 400px;
    padding-left: 11px;
    outline: none;
    border-radius: 8px;
    border: 0px solid;
}
.budget-work .btn-first{
    height: 40px;
    width: 74px;
    border: 1px none;
    margin-left: 65px;
    /* background-color: red; */
}
.btn-files #expense-list{
    height: 30px;
    width: 210px;
    border-radius: 8px;
    padding-left: 10px;
}
.btn-files #expense-amt{
    height: 30px;
    width: 210px;
    border-radius: 8px;
    padding-left: 10px;
}
.btn-files button{
    height: 43px;
    width: 150px;
}